#main {
  width: 100vw;
  height: 100vh;
  position: relative;
  background-color: #141414;
  overflow-x: hidden;
  background-image: url("deadpool-bg.jpg");
  background-size: cover;
  background-position: center;
}

.hero_text_container {
  text-align: center;
  color: white;
  font-size: 4rem;
  padding-top: 100px;
}

.hero_text_title {
  text-align:center;
  font-size: 5rem;
  font-weight: bold;
  color:aliceblue;
  text-shadow: 2px 2px 8px black;
}

.deadpool-main img {
  width: 800px;
  margin-top: 100px;
}

.bottons{
  text-align:center;
  margin-bottom:0%;
}
button {
  margin: 20px 10px;
  padding: 20px 20px;
  font-size: 1.2rem;
  background: red;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}
button:hover {
  background: #ff4b4b;
  transform: scale(1.1);
  transition: 0.3s;
}


@media (max-width: 600px) {
  .hero_text_container {
    font-size: 2rem; 
    padding-top: 40px;
  }

  .hero_text_title {
    font-size: 2.5rem; 
  }
  .deadpool-main img {
  width: min(90vw, 500px); 
  height: auto;            
  margin-top: 30px;
  }
  button {
    padding: 10px 16px;
    font-size: 1rem;
    margin: 10px 5px;
  }
}